<p>
  main works! {{ spot1 }}
</p>
<ul>
  <li *ngFor = "let user of users; let i = index">
    {{ i + 1 }} {{ user }}
  </li>
</ul>

{{ spot1 }}
<div [title] = "spot1">hello {{ spot1 }}</div>
<div bind-title = "spot1">bindz</div>
<div [textContent] = "spot1">xxXX</div>

<div [hidden] = 'flag'>hellounchanged</div>
<input type="text" [disabled] = 'flag' value="hello there">

<h4 [class.special] = 'isSpecial'>hello title</h4>

<h4 [ngClass] = "theClasses">another one</h4>

<h1 id="blahID" [style.font-size] = "isFat ? '10px' : '50px'" [ngStyle] = "theStyles" (click) = "clickOne( $event )">hello books</h1>